# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.py]
max_line_length = 119
indent_style = space

[*.rst]
max_line_length = 100

[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
