.idea
*.log
*.pot
*.pyc
*.egg-info
*.sqlite3
*.coverage
*~
.DS_Store
.tmp*
.tox
.venv
env
local_settings.py
build
docs/_build
dist
node_modules/
htmlcov
adminsortable2/static/adminsortable2/js/adminsortable2.*
adminsortable2/templates/adminsortable2/edit_inline
