.idea
*.log
*.pot
*.pyc
*.egg-info
*.sqlite
*.coverage
*~
.DS_Store
.tmp*
.tox
.venv
env
local_settings.py
build
docs/_build
dist
node_modules/
htmlcov
adminsortable2/static/adminsortable2/js/adminsortable2.*
