.idea
*.log
*.pot
*.pyc
*.egg-info
*.sqlite
*.coverage
*~
.DS_Store
.tmp*
.tox
.venv
env
local_settings.py
build
docs/_build
dist
htmlcov
adminsortable2/static/adminsortable2/js/adminsortable2.js
adminsortable2/static/adminsortable2/js/adminsortable2.js.map
adminsortable2/static/adminsortable2/js/adminsortable2.min.js
