include README.md
include setup.py
recursive-include adminsortable2 *.py
recursive-include adminsortable2/locale *
recursive-include adminsortable2/static *
recursive-include adminsortable2/templates *
recursive-exclude * *.pyc
