asgiref==3.5.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
jinja2
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
packaging==21.3
Pillow==9.3.0
playwright==1.22.0
pluggy==1.0.0
py==1.11.0
pyee==8.1.0
pyparsing==3.0.7
pytest==7.1.1
pytest-base-url==2.0.0
pytest-django==4.5.2
pytest-mock==3.7.0
pytest-playwright==0.3.0
python-slugify==6.1.2
requests==2.27.1
sqlparse==0.4.2
text-unidecode==1.3
tomli==2.0.1
urllib3==1.26.9
websockets==10.1
